.hero {
    background-image: url('https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/bg2.jpg');
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center; 
    height: 500px;  
    width: 100%;  
  }
  .navlink p {
   font-size: 12px;
   margin-bottom: -7px;
   margin-top: 5px;
  }
  .navlink span {
    
   font-size: 10px;
  }